<!DOCTYPE html>
<html lang="es" ng-app='app'>
<head>
  <title>Cloud Proyecto 1</title>
  <meta charset="UTF-8">


  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Stylesheets -->

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="libs/angular-material/angular-material.css">
  <link rel="stylesheet" type="text/css" href="./libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <!-- Third party scripts -->
  <script  type="text/javascript" src="./libs/angular/angular.min.js"></script>
  <script  type="text/javascript" src="./libs/jquery/dist/jquery.min.js"></script>
  <script  type="text/javascript" src="./libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script  type="text/javascript" src="./libs/angular-material/angular-material.min.js"></script>
  <script  type="text/javascript" src="./libs/angular-sanitize/angular-sanitize.min.js"></script>
  <script  type="text/javascript" src="./libs/angular-route/angular-route.min.js"></script>
  <script  type="text/javascript" src="./libs/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script  type="text/javascript" src="./libs/jquery-ui-dist/jquery-ui.min.js"></script>
  <script  type="text/javascript" src="./libs/videogular/dist/videogular/videogular.js"></script>

  <!-- App scripts -->

  <script  type="text/javascript" src="./project_sources/app.module.js"></script>
  <script  type="text/javascript" src="./project_sources/app.route.js"></script>

  <script type="text/javascript" src="./project_sources/home/home-controller.js"></script>

  <script type="text/javascript" src="./project_sources/login/login-controller.js"></script>
  <script type="text/javascript" src="./project_sources/login/login-factory.js"></script>

  <script type="text/javascript" src="./project_sources/concursos/concursos-controller.js"></script>
  <script type="text/javascript" src="./project_sources/concursos/concursos-factory.js"></script>

  <script type="text/javascript" src="./project_sources/videos/videos-controller.js"></script>
  <script type="text/javascript" src="./project_sources/videos/videos-factory.js"></script>
</head>

<body ng-app="app" ng-controller="MainController" >

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide p_padding w3-card-2">
    <a href="#/!" class="w3-bar-item w3-button"><b>HOME</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#!concursos" class="w3-bar-item w3-button">Concursos</a>
      <a ng-click="open()" class="w3-bar-item w3-button">Login | Registro</a>
    </div>
  </div>
</div>

<div ng-view ">
  <!---Login 
  <div ng-controller="MainController as login" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak>
    <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
      <md-button class="md-primary md-raised" >
        Login
      </md-button>
    </div>
    <div hide-gt-sm layout="row" layout-align="center center" flex>
      <md-checkbox ng-model="login.customFullscreen" aria-label="Fullscreen Custom Dialog">Force Custom Dialog Fullscreen</md-checkbox>
    </div>

    <div ng-if="login.status" id="status">
      <b layout="row" layout-align="center center" class="md-padding">
        {{login.status}}
      </b>
    </div>
  </div>
  -->
</div>
<!-- Footer -->
<footer class="w3-center w3-padding-16 ">
  <p class="footer-paragraph">Universidad de los Andes, 2017. Template modified from: <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
